body {
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    height: 100vh;

    .App {
        width: 445px;
        background: $white;
        box-shadow: 0 4px 32px -14px rgba(64,87,109,.3);
        position: relative;
        overflow: hidden;
        border-radius: 15px;

        &:after {
            @include pseudo;
            background: url('../../images/blue.png') no-repeat;
            height: 100px;
            width: 100px;
            bottom: -40px;
            left: -20px;   
        }
    }
}